
<div class="container pb-3 pt-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><b>Müşteri Kayıt</b></h5>
      <form id="myForm" class="row g-3">
        <div class="col-md-6">
          <label for="inputProductName" class="form-label"><b> Adı:</b></label>
          <input type="text" class="form-control" id="inputName" name="Name">
        </div>
        <div class="col-md-6">
          <label for="inputPrice" class="form-label"><b>Soyadı:</b></label>
          <input type="text" class="form-control" id="inputSurname" placeholder="" >
        </div>
        <div class="col-md-6">
          <label for="inputProductName" class="form-label"><b> Email:</b></label>
          <input type="text" class="form-control" id="inputEmail" name="Email" >
        </div>
        <div class="col-md-6">
          <label for="inputPrice" class="form-label"><b>Telefon:</b></label>
          <input type="text" class="form-control" id="inputPhone" placeholder="+90|" >
        </div>
       

        <div class="col-12">
          <button type="button" class="btn btn-primary" onclick="document.getElementById('myForm').reset() "><b>Ekle</b></button>
        </div>
        <div class="col-12">
          <button type="button" class="btn btn-primary" onclick="window.location.href = '/customer/list'"><b>Müşteri Listesi</b></button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function clearFormAndRedirect() {
    document.getElementById("myForm").reset(); // Formu sıfırla
   
  }
</script>